* {
}

html {
  background-color: black;
  color: whitesmoke;  
}

body {
  margin: 0 auto;
  transition: all 1s;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* .seudo-header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: black;
  margin: 0 auto;
  z-index: 9;
} */

header {
  display: flex;
  position: sticky;
  width: 100%;
  height: 200px;
  top: 0;
  z-index: 999;
  background-color: #333;

}



div {
  font-size: clamp(16px, 3vw, 5vw);
}

section {
  background-color: rgb(188, 188, 233);
  margin: 0;
  font-size: 36px;
  padding: 100px;
  transition: all 1s;  
  border-radius: 20px;
  z-index: 9;
  margin: 10px 0;

}

footer {
  border-radius: 20px;

}

.no-show {
  visibility: hidden;
}

.transform_up {
  transform: translateY(-10%); 
}

.transform_down {
  transform: translateY(-50%); 
}

.transform_left {
  transform: translateX(0%); 
}

.transform_right {
  transform: translateX(-50%); 
}


.show {
  visibility: visible;
}

.scale_Max  {
animation: scaleOut 1s;
background-color: blueviolet;
}

.scale_Min {
  animation: scaleIn 1s;
  background-color: chocolate;
}



.a__before:before {       
  display: block;
  content: "";
  margin-top: -210px;
  height: 210px;  
  background-color: blue;
  visibility: hidden; 
} 

@keyframes scaleOut {
  0% {      
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

